coc
gh
iterm2
noot
raycast
yarn
chromium
dconf
neofetch
pulse
htop
aries-cli
Slack
Android*
Clockify
Code
Google
Around
Bitwarden
mimeapps.list
agent-cli/
bin/mkcd
bin/open_iterm
bin/qhttp
bin/qts
bin/trash
binwalk/
configstore/
emacs/
flipper/
ncspot/
vodo/
